@model LeaveManagement.Web.Models.LeaveAllocationEditVM

@{
    ViewData["Title"] = "Edit Allocation";
}

<h1>Edit @Model.LeaveType.Name allocation for @Model.Employee.FirstName @Model.Employee.LastName</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAllocationAsync">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NumberOfDays" class="control-label"></label>
                <input asp-for="NumberOfDays" class="form-control" />
                <span asp-validation-for="NumberOfDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Period" class="control-label"></label>
                <input asp-for="Period" class="form-control" />
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

